.overflow-hidden{
	overflow: hidden;
}
.wrap{
	word-wrap:break-word;
	word-break:break-all;
}
.nowrap{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.width-max{
	width: calc(100vw);
}
.height-max{
	height: calc(100vh);
}
.d-flex{
	display: flex;
	align-items: center;
}
.flex1{
	flex: 1;
}
.d-flex-end{
	display: flex;
	align-items: flex-end;
}
.d-flex-center{
	display: flex;
	align-items: center;
	justify-content: center;
}
.between{
	justify-content: space-between;
}
.flex-wrap{
	flex-wrap: wrap;
}
.flex-row{
	flex-direction: row;
}
.flex-column{
	flex-direction: column;
}
.color-white{
	color: #fff;
}
.fw{
	font-weight: bold;
}   
.fs12{
	font-size: 12px;
}
.fs14{
	font-size: 14px;
}
.fs16{
	font-size: 16px;
}
.fs18{
	font-size: 18px;
}
.fs22{
	font-size: 22px;
}
.pdl5{
	padding-left: 5px;
}
.pointer{
	cursor: pointer;
}
.tag-view{
	margin-left: 5px;
	min-width: 40px;
}
.tag-view:first-child{
	margin-left: 0px;
}
.border-white{
	border: 1px solid #FFFFFF;
}


